body{
    font-family: sans-serif;
    margin: 100px 15%;
}
#pagina{
    background-color: rgb(49, 49, 49);
    padding: 20px;
    width: 700px;
    height: 200px;
    border-radius: 10px;
}
#opConv{
    width: 77%;
    position: relative;
}
#opConv img{
    width: 20px;
    height: 20px;
    position: absolute;
}
#opConv .imagem1{
    top: 1px;
    right: 2px;
}
#opConv .imagem2{
    bottom: 21px;
    right: 2px;
}
#tituloConv{
    appearance: none;
    font-weight: 100;
    margin: 0;
    background-color: rgb(77, 77, 77);
    width: 100%;
    margin-bottom: 20px;
    font-size: 12px;
    padding: 7px;
    color: white;
    border: 0.2px solid rgb(121, 121, 121);
    box-sizing: border-box;
}
#tituloConv:focus{
    outline: none;
}
#tituloConv:hover{
    background-color: rgb(37, 37, 37);
    cursor: pointer;
}
#conversoes{
    width: 75%;
    padding-right: 14px;
    position: relative;
    background-color: rgb(49, 49, 49);
    border-radius: 2px;
}
#conv1, #conv2{
    width: 250px;
    height: 80px;
    border-radius: 2px;
}
#conv2{
    position: absolute;
    top: 0;
    right: 0;
}
input{
    font-size: 27px;
    color: white;
    text-align: center;
    border: 0.2px solid rgb(121, 121, 121);
    border-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 60%;
    box-sizing: border-box;
    background-color: rgb(49, 49, 49);
    border-radius: 2px 2px 0 0;
}
input:focus{
    outline: none;
}
.seletorGrau{
    position: absolute;
    bottom: 0;
    left: 0;
    border: 0.2px solid rgb(121, 121, 121);
    appearance: none;
    padding: 5px;
    height: 40%;
    width: 250px;
    box-sizing: border-box;
    background-color: rgb(77, 77, 77);
    color: rgb(214, 214, 214);
    font-size: 12px;
    border-radius: 0 0 2px 2px;
}
.seletorGrau:focus{
    border: rgb(0, 153, 255) solid 0.2px;
    outline: none;
}
.seletorGrau:hover{
    background-color: rgb(37, 37, 37);
    cursor: pointer;
}
p{
    text-align: center;
    height: 0;
    font-size: 25px;
    position: absolute;
    top: 12.5%;
    margin: 0;
    right: 263px;
    color: rgb(206, 206, 206);
}